body {
    background: #476375;
    font-family: "Lucida Console", "Lucida Grande", sans-serif;
    color: #fff;
    height: 100%;
    text-align: left;
    font-size: 18px;
  }
  h1{
      text-align: center;
  }
  input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    textarea {
      width: 100%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      resize: none;
    }
  button {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -khtml-border-radius: 5px;
      background: #476375;
      color: #fff;
      border: solid 1px #fff;
      text-decoration: none;
      cursor: pointer;
      font-size: 1.2em;
      padding: 18px 10px;
      width: 180px;
      margin: 10px;
      outline: none;
    }
    button:hover {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background: #fff;
      border: solid 1px #fff;
      color: #476375;
    }